{% extends "base.html" %}
{% block content %}

<h1>To-do <span class="badge badge-secondary">List</span></h1>
<p class="lead">With Flask and RethinkDB</p>

<form action="" role="form" method="POST" name="add_task">
	{{form.hidden_tag()}}
	<p>
		<h4>添加每日任务</h4>
		{{form.label}}
		<input type="submit" value="Save" class="btn btn-default btn-md" name="btn">
		<input type="submit" value="Delete" class="btn btn-default btn-md" name="btn">
		{% for error in form.errors.label %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'message' %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% for task in tasks %}
  <li>{{ task.name|capitalize }}</li>
{% endfor %}

{% endblock %}